@CHARSET "UTF-8";

.error {
	color: red;
	font-size: 12px;
}
#reg {
	width: 500px;	
}
#regForm{
	width: 600px;
	margin: 0 auto;
    background:-webkit-linear-gradient(top,#EEE,#FFF);
    background:-moz-linear-gradient(top,#EEE,#FFF);
     box-shadow:3px 3px 10px #666;
    border-radius: 8px;
    
}
#regTitle{
	font-size: 22px;
}
label{
	color:#0000a0;
	font-size: 18px;
}


