@CHARSET "UTF-8";
#journalDiv {
	margin: 10px 20px;
	width: 310px;
	height: 380px;
	float: left;
	display: table-cell; 	
	vertical-align: middle;
	border-radius: 8px;
	border-width: 1px;
	box-shadow: 4px 4px 1pt 0pt #a7a7a7;
	background-color: #ffe6cc;
}

#journalDiv table {
	width: 280px;
	height: 350px;
	margin: 10px auto;	
}
img {
	cursor: pointer;
}
#btnMore {
	text-align: right;
}
#divRowsPerPage {
	text-align: right;
}
#divChangePage {
	clear:both;
	text-align: center;
}

#divChangePage table {
	margin: 0 auto;
}
#journalDiv .img-thumbnail {
	width:280px;
	height:210px;
}