@CHARSET "UTF-8";
.journalTable{
	font-size: 20px;
}
#divMember,#divJournal {
	width: 790px;
	margin: 5px;
}

#tripMap {
	width: 600px;
	height: 700px;
}
#journalTable,#member{
	width:740px;
}
img {

	vertical-align:middle;
}
#backURL {
	text-align: center;
	clear:both;
}
.journalPic{
	width:300px;
	height:220px;
}
.memberPic{
	width:100px;
	height:100px;
}
.fMargin{
	margin:5px;
}
.replyTextarea {
	max-width:730px;
 	max-height:100px;
 	width:730px;
 	height:100px;
 	color:black;
}
#replyTable {
	width: 730px;
	margin: 0 auto;
}
#messageDiv {
	width:740px;
}