@CHARSET "UTF-8";
.journalTable{
	font-size: 20px;
}
#divMember,#divJournal {
	width: 900px;
	margin: 5px;
}

#tripMap {
	width: 490px;
	height: 700px;
}
#journalTable,#member{
	width:850px;
}
img {

	vertical-align:middle;
}
.journalPic{
	width:300px;
	height:220px;
}
.memberPic{
	width:100px;
	height:100px;
}
.fMargin{
	margin:5px;
}
