@CHARSET "UTF-8";
table {
	border: 1px solid blue;
	width: 100%;	
}
h4 {
	margin-bottom: 5px;
	margin-top: 5px;
}
#topButton {
	width: auto;
	height: auto;	
	text-align: right;
}
#left {
	width:58%;	
	background-color:silver;
	float: left;
	height: 855px;
}
#right {
	width:41%;	
	background-color:silver;
	float: right;
	height: 855px;
}
#blank {
	height: 34px ;
	border: 1px solid blue;
}
#days {
	width: 20%;
	height:auto;
	border: 1px solid yellow;
	float: left;
	overflow: hidden;
}
#trip {
	width: 79%;
	height:700px;
	border: 1px solid green;
	float: right;
}
#tripBut{
	align-content: right;
}
.day {
	height: 650px;
	border: 1px solid purple;
}
div .sight {
	height: 30px;
	width: 100%;	
	border: 1px solid #ff80c0;
	margin: auto;
}
#sightsTabs ul li a{
	font-size:16px;
}
.noteTextarea {
	max-width:400px;
 	max-height:70px;
 	width:400px;
 	height:70px;
}
.tripDetailTable {
	width: 99%;
}
